.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 2rem 0rem 2rem 0rem;
  background: radial-gradient(
    55.87%55.87%at 35.49%-18.37%,
    #ebcdf0 0%,
    rgba(255, 255, 255, 0) 100%
  ),
  radial-gradient(
    70.81%48.44%at -24.53%-16.02%,
    #f0c2ed 0%,
    rgba(255, 255, 255, 0) 100%
  ),
  radial-gradient(
    91.61%92.58%at 104.86%-43.36%,
    #bac4ec 0%,
    rgba(255, 255, 255, 0) 100%
  ),
  radial-gradient(
    50.59%55.55%at -2.99%-8.69%,
    #bddcf7 9.06%,
    rgba(255, 255, 255, 0) 100%
  ),
  #f7fafc;
}
.hero__content img {
  width: 12.5rem;
  margin-bottom: 1rem;
  @media (max-width: 500px) {
    width: 9rem;
  }
}
.hero__heading {
  color: #111827;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
  @media (max-width: 700px) {
    font-size: 3rem;
  }
  @media (max-width: 600px) {
    font-size: 2.5rem;
  }
  @media (max-width: 500px) {
    font-size: 2rem;
  }
  @media (max-width: 360px) {
    font-size: 1.5rem;
  }
}
.hero__description {
  text-align: center;
  color: #67707b;
  font-weight: 500;
  margin-bottom: 2rem;
  padding: 0rem 1rem;
  @media (max-width: 600px) {
    font-size: 0.9rem;
  }
}
.hero__div {
  display: flex;
  gap: 1rem;
}
.hero__started {
  background-color: #4f46e5;
  color: white;
  border: none;
  font-weight: 500;
  padding: 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.hero__started:hover {
  background-color: #736deb;
}
.hero__learn {
  border: none;
  background-color: transparent;
  color: #111827;
  font-weight: 600;
  font-size: 0.92rem;
  cursor: pointer;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.hero__arrow {
  position: relative;
  left: 0;
  transition: all 0.3s ease-in-out;
}
