#home {
  align-items: start;
  background-color: white;
  display: flex;
  justify-content: center;
}
.home__container {
  display: flex;
  justify-content: space-between;
  max-width: 90rem;
  padding: 3rem 1rem;
  width: 100%;

  @media (max-width: 700px) {
    flex-direction: column;
  }
}
.home__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 7rem;
  width: 100%;
  @media (max-width: 700px) {
    flex-direction: row;
    width: 100%;
    max-width: 50rem;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}
.home__category {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}
.home__selected {
  color: #2e7af5;
}
.home__right {
  max-width: 75rem;
  text-align: center;
  width: 100%;
}
.home__top {
  display: flex;
  justify-content: space-between;
}
.home__title {
  color: #0f172a;
  font-size: 2rem;
  font-weight: 700;
}
.home__upload {
  background-color: #0f172a;
  border-radius: 0.4rem;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  padding: 0.6rem 0.8rem;
  transition: all 0.2s ease-in-out;
}
.home__upload:hover {
  background-color: #202c49;
}
.home__layout {
  align-items: center;
  background-color: #ebf1f7;
  border-radius: 0.3rem;
  display: flex;
  display: flex;
  gap: 0.4rem;
  height: 2.5rem;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 11rem;
}
.layout__option {
  align-items: center;
  background-color: #f9fafb;
  border-radius: 0.4rem;
  display: flex;
  font-weight: 500;
  gap: 0.3rem;
  height: 1.3rem;
  max-width: 5rem;
  padding: 0.4rem;
}
.layout__option2 {
  align-items: center;
  background-color: #ebf1f7;
  border-radius: 0.4rem;
  cursor: not-allowed;
  display: flex;
  font-weight: 500;
  gap: 0.3rem;
  height: 1.3rem;
  max-width: 5rem;
  padding: 0.4rem;
}
.home__grid {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 550px) {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.grid__item {
  align-items: center;
  background-color: #ebf1f7;
  border-radius: 0.6rem;
  border: 1px solid #ecf0f5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 17.5rem;
  max-width: 18rem;
  padding: 1rem 0.5rem;
  position: relative;
  width: 100%;
  @media (max-width: 550px) {
    max-width: 23rem;
  }
}
.item__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}
.item__name {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.file__option {
  cursor: pointer;
}
.file__dropdown {
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  border: 1px solid #dadee2;
  color: red;
  cursor: pointer;
  display: none;
  gap: 0.5rem;
  height: 3rem;
  justify-content: center;
  margin-right: 0.2rem;
  position: absolute;
  right: 0;
  top: 42px;
  width: 7rem;
}
.item__image {
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  border: none;
  display: flex;
  height: 10rem;
  justify-content: center;
  width: 99%;
}

.item__position__flex {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}
.item__position__flex img {
  width: 40px;
}
.home__empty {
  width: 100%;
  max-width: 35rem;
}
.upload__dark {
  background-color: #000000;
  display: none;
  height: 100vh;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100vw;
}
.upload__modal {
  background-color: white;
  border-radius: 0.9rem;
  box-sizing: border-box;
  display: none;
  height: 100%;
  left: 50%;
  margin: 1rem;
  max-height: 27rem;
  max-width: 50rem;
  padding: 1rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
  @media (max-width: 900px) {
    max-width: 40rem;
  }
  @media (max-width: 750px) {
    max-width: 30rem;
  }
  @media (max-width: 600px) {
    width: 90%;
    margin: 1rem 1rem 1rem 0rem;
  }
}
.upload__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.upload__top p {
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 2rem;
  @media (max-width: 450px) {
    font-size: 1.3rem;
  }
  @media (max-width: 350px) {
    font-size: 1rem;
  }
}
.upload__input {
  width: 95%;
  @media (max-width: 900px) {
    width: 90%;
  }
}
.upload__div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.upload__div label {
  font-weight: 500;
  font-size: 1.1rem;
}
.upload__button {
  padding: 1rem 1.5rem;
}
.upload__close,
.file__download {
  cursor: pointer;
}
.item__avatar {
  align-items: center;
  background-color: #000000;
  border-radius: 100%;
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}
.popup__success {
  align-items: center;
  background-color: #eafbf2;
  border-radius: 0.5rem;
  border: 1px solid #d9e4df;
  color: #195332;
  display: flex;
  gap: 0.4rem;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: auto;
  max-height: 5rem;
  max-width: 20rem;
  position: fixed;
  right: 0;
  top: -100px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  @media (max-width: 500px) {
    max-width: 10rem;
    max-height: 3rem;
  }
}
.popup__success p {
  font-size: 1.1rem;
  font-weight: 500;
  @media (max-width: 500px) {
    font-size: 1rem;
  }
}
.popup__fail,
.popup__fail2 {
  align-items: center;
  background-color: #f1eded;
  border-radius: 0.5rem;
  border: 1px solid #d6b4ab;
  color: #cc170a;
  display: flex;
  gap: 0.4rem;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: auto;
  max-height: 5rem;
  max-width: 20rem;
  position: fixed;
  right: 0;
  top: -100px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  @media (max-width: 500px) {
    max-width: 10rem;
    max-height: 3rem;
  }
}
.popup__fail p,
.popup__fail2 p {
  font-size: 1.1rem;
  font-weight: 500;
  @media (max-width: 500px) {
    font-size: 1rem;
  }
}
