nav {
  background-color: #f9fafb;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
}
.nav__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 90rem;
  width: 100%;
}
.nav__left {
  align-items: center;
  display: flex;
  gap: 0.4rem;
}
.nav__left img {
  width: 3.7rem;
}
.nav__title {
  font-size: 1.3rem;
  font-weight: 400;
  @media (max-width: 400px) {
    display: none;
  }
}
.nav__signin {
  background-color: #7552f6;
  border-radius: 0.5rem;
  border: 1px solid #94a1b3;
  color: white;
  cursor: pointer;
  font-weight: 600;
  padding: 0.7rem 1rem;
  transition: all 0.1s ease-in-out;
}
.nav__signin:hover {
  filter: brightness(95%);
}
.nav__avatar {
  cursor: pointer;
  width: 60px;
}
.signout {
  align-items: center;
  border-radius: 0.3rem;
  border: 1px solid #ced1d4;
  cursor: pointer;
  display: flex;
  gap: 0.4rem;
  padding: 0.7rem;
  position: relative;
}
