#signup {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: center;
  background: radial-gradient(
      55.87%55.87%at 35.49%-18.37%,
      #ebcdf0 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      70.81%48.44%at -24.53%-16.02%,
      #f0c2ed 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      91.61%92.58%at 104.86%-43.36%,
      #bac4ec 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      50.59%55.55%at -2.99%-8.69%,
      #bddcf7 9.06%,
      rgba(255, 255, 255, 0) 100%
    ),
    #f7fafc;
}
.signup__container {
  max-width: 30rem;
  padding: 0rem 1rem;
  width: 100%;
}
